<% provide(:title, "Sign in") %>

<h1>Contact information:</h1>
<h1>I`m a new user.   <%= link_to "I`m a regular customer.", new_session_path, class: "button" %></h1>

<%= render 'form' %>

<%= link_to 'Back', "#" %>
