<% provide(:title, 'About Us') %>

  <div class="wrap">
    <div class="about_desc">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>
  <div class="items_desc">
    <div class="wrap">
      <div class="section group">
        <div class="listview_1_of_2 images_1_of_2">
          <div class="listimg listimg_2_of_1">
            <img src="assets/chef_img1.jpg" alt="" />
          </div>
          <div class="text list_2_of_1">
            <h3>H. Rackham</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  ut labore et dolore.</p>
            <div class="read_more"><a href="#">Read More</a></div>
          </div>
        </div>
        <div class="listview_1_of_2 images_1_of_2">
          <div class="listimg listimg_2_of_1">
            <img src="assets/chef_img2.jpg" alt="" />
          </div>
          <div class="text list_2_of_1">
            <h3>Finibus Bonorum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  ut labore et dolore.</p>
            <div class="read_more"><a href="#">Read More</a></div>
          </div>
        </div>
      </div>
      <div class="section group">
        <div class="listview_1_of_2 images_1_of_2">
          <div class="listimg listimg_2_of_1">
            <img src="assets/chef_img3.jpg" alt="" />
          </div>
          <div class="text list_2_of_1">
            <h3>Malorum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  ut labore et dolore.</p>
            <div class="read_more"><a href="#">Read More</a></div>
          </div>
        </div>
        <div class="listview_1_of_2 images_1_of_2">
          <div class="listimg listimg_2_of_1">
            <img src="assets/chef_img4.jpg" alt="" />
          </div>
          <div class="text list_2_of_1">
            <h3>Richard McClintock</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt  ut labore et dolore.</p>
            <div class="read_more"><a href="#">Read More</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render 'content_bottom' %>

