<div class="wrap">
  <div class="section group">
    <div class="cont span_2_of_3 services_desc">
      <%= render 'index' %>
    </div>
    <div class="lsidebar sidebar offers_list">
      <%= render 'lsidebar' %>
    </div>
  </div>
</div>